body {
    margin: auto;
}
.header {
    background-color: pink;
    position: fixed;
    padding: 10px;
    /*text-align: center;*/
    width: 100%;
}
.hamburger-icon {
    width: 25px;
}
.header-title {
    font-size: 20px;
    text-align: center;
}
.main-content {
    padding: 90px 5px 0;
    overflow-x: hidden; 
    overflow-y: scroll; 
}
.footer {
    background-color: pink;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    bottom: 0px;
}
.footer-button {
    padding: 10px;
}